name: Create Pull Request
on: [push]
jobs:
  create_pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Create PR
          title: "New changes"
          body: "New changes in this PR"
          branch: "branch-name"
          delete-branch: true
          draft: false
